* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.navbar-ppal {
  background-color: rgb(4, 67, 150);
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  grid-area: navbar;
  color: aliceblue;
  height: 100px;
}

a.navbar-brand {
  color: antiquewhite;
}

a.nav-link {
  color: antiquewhite;
}

span.navbar-toggler-icon {
  background-color: rgb(4, 67, 150);
  display: flex;
  justify-items:end;
  align-items: end;
}

/* FILTRO DE BUSQUEDA */
.container {
  display: flex;
  grid-area: filtro;
  flex-direction: column;
  text-align: center;
  background-color: grey;
  color: antiquewhite;
  padding: 20px;
  
  
}

/* SECCION DEL MAIN */

main {
  display: flex;
  grid-area: main;
  flex-wrap: wrap;
  justify-content:center;
  gap: 10px;
  
}

/* .card-title{
    text-align: center;
} */

div.card-body {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* PAGINACIÒN */

.paginacion {
  display: flex;
  justify-content: center;
  padding: 4%;
}

/* FOOTER */

footer {
  background-color: rgb(4, 67, 150);
  grid-area: footer;
  color: antiquewhite;
  height: 80px;
  justify-items: center;
  padding: 10px;
}
footer img {
  height: 30px;
  width: 30px;
}


/* VERSION DESKTOP */
@media (min-width: 576px) {

    .navbar-ppal {
        background-color: rgb(4, 67, 150);
        display:flex;
        flex-direction:column;
       align-content:start;
       justify-content:start ;
        height: 100%;
        grid-area: navbar;
        color: aliceblue;
        width: 100%;
      }

     .container {
        display: flex;
        align-items: center;
        align-content: start;
        grid-area: filtro;
        text-align: center;
        background-color: grey;
        color: antiquewhite;
        padding: 20px;
        margin-top: 0%;

        
      }

      /* footer {
        display: flex;
        flex-direction:row;
        background-color: rgb(4, 67, 150);
        color: antiquewhite;
        height:auto;
        align-items:flex-end;
        
        justify-items:stretch ;
        align-content: flex-end;
        text-align: center;
       
        
      }  */

      footer {
        display: flex;
        flex-direction:column;
        background-color: rgb(4, 67, 150);
        color: antiquewhite;
        align-content:center;
        height:auto;
        justify-content: flex-end;
        text-align: center;
        gap: 10px;
        font-size: larger;
       
        
      }

      /* .derechos-reservados{

        background-color: rgb(14, 4, 150);
      } */

      /* p{
        background-color: rgb(19, 4, 150);
        height: 75px;
      } */



      .grid-container {
    display: grid;
    grid-template-columns:15% 1fr;
    grid-template-areas:
        "filtro filtro "
        "navbar main "
        "navbar main "
        "footer main "
        "footer main";
    }
  }