* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.navbar-ppal {
  background-color: rgb(4, 67, 150);
  color: aliceblue;
}

a.navbar-brand {
  color: antiquewhite;
}

a.nav-link {
  color: antiquewhite;
}

span.navbar-toggler-icon {
  background-color: rgb(4, 67, 150);
}

.container {
  display: flex;
  flex-direction: column;
  text-align: center;
  background-color: grey;
  color: antiquewhite;
  padding: 20px;
}

/* SECCION DEL MAIN */

main {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  
}

/* .card-title{
    text-align: center;
} */

div.card-body {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* PAGINACIÒN */

.paginacion {
  display: flex;
  justify-content: center;
  padding: 4%;
}

/* FOOTER */

footer {
  background-color: rgb(4, 67, 150);
  color: antiquewhite;
  height: 80px;
  justify-items: center;
  padding: 10px;
}
footer img {
  height: 30px;
  width: 30px;
}
